repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.93.1
    hooks:
      - id: trufflehog
        entry: trufflehog filesystem --fail --exclude-paths=.trufflehog-ignore .
        stages: [pre-commit]
